<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-container">

        <div class="slider-container">

            <div class="box">

                <img src="https://source.unsplash.com/1500x400?nature?1" alt="">

                
            </div>
            <div class="box">
                
                <img src="https://source.unsplash.com/1500x400?nature?2" alt="">

                
            </div>
            <div class="box">

                <img src="https://source.unsplash.com/1500x400?nature?3" alt="">
                
            </div>
            
        </div>
        
        <b>
        
            <h1>ENJOY THE NATURE WITH US</h1>
        </b>
    </div>
    <p id="left"><</p>
    <p id="right">></p>

    <script src="script.js"></script>
    
</body>
</html>