<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Sidebar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


</head>
<body>
    <!--nav bar-->
    
    
    <div class="navbar">
        <h2>NOSTRA</h2>

        <ul>
            <li>Home </li>
            <li>New Arrival </li>
            <li>Most Wanted </li>
            <li>Collections </li>
            <li>Contact Us</li>
            <li><i class="fa-solid fa-bars fa-xl" style="color: #000000;"></i></li>
        </ul>

    </div>

    <!--sidebar-->
    <div class="sidebar">

        <h3>Home</h3>
        <h3>New Arrival</h3>
        <h3>Most Wanted</h3>
        <h3>Collections</h3>
        <h3>Contact Us</h3>
        <h3 id="cancelmark"><i class="fa-solid fa-xmark"></i></h3>

    </div>

    <script src="script.js"></script>
</body>
</html>