<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    

        <div class="slider-container">
            
            <h2>one</h2>
            <h2>two</h2>
            <h2>three</h2>
            <h2>four</h2>
            <h2>five</h2>
            <h2>six</h2>
            <h2>seven</h2>
            <h2>eigt</h2>
            <h2>nine</h2>
            <h2>ten</h2>
            <h2>one</h2>
            <h2>two</h2>
            <h2>three</h2>
            <h2>four</h2>
            <h2>five</h2>
            <h2>six</h2>
            <h2>seven</h2>
            <h2>eigt</h2>
            <h2>nine</h2>
            <h2>ten</h2>
            <h2>five</h2>
            <h2>six</h2>
            <h2>seven</h2>
            <h2>eigt</h2>
            <h2>nine</h2>
            <h2>ten</h2>
            
        </div>
    
        
    <button id="leftbtn">left</button>
    <button id="rightbtn">right</button>
    
    <script src="script.js"></script>
</body>
</html>