*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(169deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.child-container{
    width: 50vw;
    height: 40vw;

    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse: collapse;
    border-color: transparent
}

th,td{
    padding: 20px;
    font-size: 20px;
}

input[type="text"]{
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(238, 2, 255);
    padding: 10px;
    width: 20rem;
    
}

input[type="text"]:focus{
    outline: none;
    
}

select {
    
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }

select:focus{
    outline: none;
}

#submitbtn{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .4);
    color: rgb(0, 0, 0);
    transition: 1s;
}

#submitbtn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(0.9);
    padding: 10px;
}

.table-box{
    height: 100vh;
    width: 100vw;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-table{
    border: 1px solid black;
    
    
}
