<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="main-container">
        <div class="slider-container">
            <!--slider images-->
            <div class="box1">

                <img src="https://source.unsplash.com/1600x500?cars?1?" alt="">
                
            </div>
            <div class="box2">
                <img src="https://source.unsplash.com/1600x500?cars?2?" alt="">
                
            </div>
            <div class="box3">
                <img src="https://source.unsplash.com/1600x500?cars?3?" alt="">

            </div>

            
        </div>

    </div>

    
    <i class="fa-solid fa-less-than" style="color: #ffffff;" id="leftbtn"></i>
    
    <i class="fa-solid fa-greater-than" style="color: #ffffff;" id="rightbtn"></i>

    

    <script src="script.js"></script>
</body>
</html>