<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="gallery">

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?1" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?2" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?3" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?4" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?5" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?6" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?7" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?8" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?8" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?9" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?10" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?11" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>
        
        <div class="box">
            <img src="https://source.unsplash.com/200x200?car?12" alt="">
            <h4>Cars are good to drive!</h4>
        </div>
        
    </div>

    
</body>
</html>