<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>
<body>

    <div class="navbar">

        <h1>GALLERY</h1>

        <nav>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>Cart</li>
            </ul>
        </nav>

        <button>LOGOUT</button>

        <i class="fa-solid fa-bars" id="menu"></i>

    </div>
    
    <div class="gallery">

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?1" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
            <i class="fa-solid fa-heart" id="like"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?2" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?3" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?4" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?5" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?6" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?7" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?8" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?9" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?10" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?11" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?12" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?13" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?14" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?15" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?16" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?17" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?18" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?19" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>

        <div class="box">
            <img src="https://source.unsplash.com/300x300?tech?20" alt="">
            <h4>Technology is Evolving</h4>
            <i class="fa-light fa-microchip fa"></i>
        </div>
        
    </div>

    <script src="script.js"></script>
</body>
</html>