*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    border-radius: 10px;
}

.box{
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: black;
    color: yellow;
}

h1{
    padding: 10px;
}

button{
    background-color: yellow;
    color: black;

}

li,button{
    font-size: 20px;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 15px;
    padding: 15px;
}