*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    border-radius: 10px;
}

.box{
    padding: 20px;
}